<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Chatterpy Chat</title>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>-->
<script type="text/javascript" src="http://greatvines:4321/assets/556d6970/jquery.js"></script>
<!-- color picker -->
<script type="text/javascript" src="{{ base_url }}/static/farbtastic.js"></script>
<link rel="stylesheet" href="{{ base_url }}/static/farbtastic.css" type="text/css"></script>

<link rel="stylesheet" href="{{ base_url }}/static/style.css" type="text/css" />
<script type="text/javascript">
session_username = '{{ name }}'
base_url = '{{ base_url }}'
update_interval = {{ update_interval }}

</script>
<script type="text/javascript" src="{{ base_url }}/static/chatterpy.js"></script>
<script type="text/javascript" src="{{ base_url }}/static/chatterpy_ui.js"></script>
<script type="text/javascript" src="{{ base_url }}/static/main.js"></script>
</head>
<body>
  <noscript><h1>Turn your scripts on, foo.</h1></noscript>

  <div id="appcontainer">

  <div id="usersbox">
  </div>

  <div id="messagebox">
  </div>

  <div id="sendbox">
    <form id="sendform">
      <div id="messagetextholder">
        <div id="username">
        </div>
        <input type="text" name="messagetext" id="messagetext" />
        <input type="submit" value="Send" id="sendformsubmit" />
      </div>
      <div id="colorpickerholder">
        <div id="colorpicker"></div>
        <input type="text" name="fontcolor" id="fontcolor" value="#000000" />
      </div>
    </form>
    <br />
    <button id="togglepicker">Font Color</button>
  </div>

  </div>
  <div id="loginbox">
    Welcome! Please enter your desired username.
    <br /><br />
    <form id="loginform">
      <input type="text" name="username" id="loginusername" />
      <input type="submit" value="Join Chat" id="loginsubmit" />
      <div class="error" id="loginerror">That username is unavailable.</div>
    </form>
  </div>
  <div id="loginboxbackground"></div>

</body>
</html>
